<%= form_for(:tenant, url: admin_enterprise_tenant_create_path(@enterprise.id), :html => {:method => :post}) do |tenant_form| %>

  <div class="form-group">
    <h5>State</h5>
    <%= select_dropdown('state', @states) %>
  </div>

  <div class="form-group">
    <h5><p>Marketplace Name</p></h5>
    <%= input_text_control({value: ''}, tenant_form) %>
  </div>

  <div class="form-group">
    <h5><p>Owner Account</p></h5>
    <%= select_dropdown('account', @accounts) %>
  </div>
  <%= submit_tag 'Add Market Place', class: "btn btn-primary" %>
<% end %>