<h3>Plans</h3>
<br>
<h4>Plan Import</h4>
<br>
<h5>Benefit Year</h5>
<%= select_dropdown('benefit_year', @years) %>
<br><br>

<% if @tenant.geographic_rating_area_model == "zipcode" %>
  <div>
    <h5>County/Zipcode Mapping File</h5>
    <%= form_for(:tenant, url: admin_tenant_zip_county_data_path(@tenant.id), :html => {:method => :post, :multipart => true}) do |tenant_form| %>
      <%= hidden_field_tag :county_zip_year, nil %>
      <div class="input-group">
        <% option = ::Options::Option.new(key: 'county_zip') %>
        <%= input_import_control(option, nil) %>
      </div>
      <br>
      <%= submit_tag 'Submit', class: "btn btn-primary" %>
    <% end %>
  </div>
  <br><br>
<% end %>

<div>
  <h5>SERFF Template</h5>
  <%= form_for(:tenant, url: admin_tenant_upload_plan_data_path(@tenant.id), :html => {:method => :post, :multipart => true }) do |tenant_form| %>
    <%= hidden_field_tag :serff_year, nil %>
    <div class="input-group">
      <% option = ::Options::Option.new(key: 'serff_template') %>
      <%= input_import_control(option, nil) %>
    </div>
    <br>
    <%= submit_tag 'Submit', class: "btn btn-primary" %>
  <% end %>
</div>
<br><br>

<div>
  <h5>Silver Plans</h5>
  <table class="table">
    <thead>
      <tr>
        <th><%= 'Marketplace' %></th>
        <th><%= 'Carrier Name' %></th>
        <th><%= 'Year' %></th>
        <th><%= 'Plan Name' %></th>
        <th><%= 'Uploaded at' %></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |pr| %>
        <tr >
          <td><%= pr.tenant.owner_organization_name %></td>
          <td><%= pr.carrier_name %></td>
          <td><%= pr.application_period.min.year %></td>
          <td><%= pr.title %></td>
          <td><%= pr.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br><br>

<%= link_to 'Delete All Plans', admin_tenant_plans_destroy_path(id: @tenant.id), class: "btn btn-danger" %>

<script>
  var selectElement = document.getElementById('benefit_year');

  selectElement.addEventListener('change', (event) => {
    var resultz = document.getElementById('serff_year');
    resultz.value = event.target.value;

    var result = document.getElementById('county_zip_year');
    result.value = event.target.value;
  });

  var uploadElements = document.getElementsByClassName('custom-file-input');
  for (var i = 0, max = uploadElements.length; i < max; i++) {

    uploadElements[i].addEventListener('change', (event) => {
      var fileName = event.target.value.replace("C:\\fakepath\\", "");
      var parent = event.target.parentElement;
      var labelElement = parent.querySelector(".custom-file-label")

      labelElement.innerHTML = fileName;
    });
  }

</script>
