<p class="h1">Profile</p>
<%= form_for(@tenant, url: admin_tenant_path, :html => { :multipart => true }) do |tenant_form| %>
  <%= build_attribute_field(tenant_form, :owner_organization_name) %>
  <%= tenant_form.fields_for :sites do |site_form| %>
    <% if site_form.object == @tenant.admin_portal %>
      <%= render partial: 'admin/shared/options_form', locals: {form: site_form} %>
    <% end %>
  <% end %>
  <%= submit_tag 'Update Profile', class: "btn btn-primary" %>
<% end %>

<%= javascript_pack_tag 'js-color-swatch' %>

<script>
  var uploadElements = document.getElementsByClassName('custom-file-input');
  for (var i = 0, max = uploadElements.length; i < max; i++) {

    uploadElements[i].addEventListener('change', (event) => {
      var fileName = event.target.value.replace("C:\\fakepath\\", "");
      var parent = event.target.parentElement;
      var labelElement = parent.querySelector(".custom-file-label")

      labelElement.innerHTML = fileName;
    });
  }
</script>