<div class="modal-header">
  <h5 id="passwordModalTitle" class="modal-title">Changing password for <span class='js-account-email'><%= @account.try(:email) %></span></h5>
</div>

<%= form_for(@account || Account.new, url: password_reset_admin_account_path(id: @account.try(:id) || 'change_me'), remote: true, html: { method: 'patch' }) do |f| %>
  <div class="modal-body">
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <div class="alert alert-error"><%= error %></div>
      <% end %>
    <% end %>

    <div class="form-group row">
      <%= f.label :current_password, class: 'col-sm-3 col-form-label' %>
      <%= f.password_field :current_password, class: 'form-control col mr-3', required: true =%>
    </div>

    <div class="form-group row">
      <%= f.label :password, class: 'col-sm-3 col-form-label' %>
      <%= f.password_field :password, class: 'form-control col mr-3', required: true %>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, 'Confirmation', class: 'col-sm-3 col-form-label' %>
      <%= f.password_field :password_confirmation, class: 'form-control col mr-3', required: true %>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <%= f.submit "Change Password", class: 'btn btn-primary' %>
  </div>
<% end %>
