<%= form.fields_for :options do |option_form| %>
  <p class="h5"><%= option_form.object.key.to_s.titleize %></p>
  <% if option_form.object.namespace %>
   <%= option_form.fields_for :child_options do |child_option_1_form|%>
     <% if child_option_1_form.object.namespace %>
        <%= child_option_1_form.fields_for :child_options do |child_option_2_form|%>
          <% unless child_option_2_form.object.namespace %>
            <%= build_option_field child_option_2_form, child_option_2_form.object %>
          <% end %>
        <% end %>
     <% else %>
        <%= build_option_field child_option_1_form, child_option_1_form.object %>
     <% end %>
   <% end %>
  <% end %>
<% end %>