<div class='ml-2'>
  <li>
    <a href="#<%= tenant.key %>Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><%= tenant.owner_organization_name %></a>
    <ul class="collapse list-unstyled" id="<%= tenant.key %>Submenu">
      <li><%= link_to "Profile", admin_tenant_path(tenant), class: 'nav-link' %></li>
      <li><%= link_to "Features", admin_tenant_features_show_path(tenant), class: 'nav-link' %></li>
      <li><%= link_to "Tool UI Pages", admin_tenant_ui_pages_show_path(tenant), class: 'nav-link' %></li>
      <li><%= link_to "Health Plans", admin_tenant_plan_index_path(tenant), class: 'nav-link' %></li>
    </ul>
  </li>
</div>